<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>
<main class="container-fluid">
  <div class="jumbotron text-white bg-secondary" style="margin-left:-20px;
 margin-right:-20px; margin-bottom: 0">
   <p>Shows Basic information for the deployed <%= name %>
  </div>
</main>
<% include ../partials/footer %>
</body>
</html>