<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>
<main class="container-fluid">
  <div class="jumbotron text-white bg-secondary" style="margin-left:-20px;
 margin-right:-20px; margin-bottom: 0">
   <h3>WifiMon for <%= name %> 鲸(Whale) Router</h3>
   <ul>
     <li><a class="text-white" href="/system">Get System Information</a></li>
     <li><a class="text-white" href="/clients">Get WiFi client information</a></li>
   </ul>
  </div>
</main>
<% include ../partials/footer %>
</body>
</html>